body {
    background: #000;
}

.main-wrapper {
    width: 472px;
    margin: 0px auto;
    padding: 11px 10px;
    background: #fff;
    overflow: hidden;
}


.main-wrapper .header {
    margin: 0px 0px 10px 0px;
    position: relative;
}

.banner-text {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 999;
}

.container .col-1{
    background: #e1e4c7;
    width: 284px;
    float: left;
    padding: 12px;
}

.container .col-2{
    width: 148px;
    float: right;
    background: #abaf8a;
}

.col-2 ul {
    list-style: none;
}
.col-2 ul li {
    padding-left: 8px;

    border-bottom: 1px #fff solid;

    line-height: 20px;
}

.col-2 h2{
    padding-left: 8px;
    margin: 15px 0px;
}


.col-2 ul li a, .col-2 h2 {
    color: #fff;
    font-weight: bold;
    font-size: 10px;
}

.col-2 ul:first-child li a {
    text-transform: uppercase;
}